<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserAppnewsMapper">
  <resultMap id="BaseResultMap" type="entity.UserAppnews">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="newsmsg" jdbcType="VARCHAR" property="newsmsg" />
    <result column="newsdate" jdbcType="INTEGER" property="newsdate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_user_appnews
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.UserAppnews">
    insert into tb_user_appnews (id, username, newsmsg, 
      newsdate)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{newsmsg,jdbcType=VARCHAR}, 
      #{newsdate,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="entity.UserAppnews">
    update tb_user_appnews
    set username = #{username,jdbcType=VARCHAR},
      newsmsg = #{newsmsg,jdbcType=VARCHAR},
      newsdate = #{newsdate,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, username, newsmsg, newsdate
    from tb_user_appnews
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, newsmsg, newsdate
    from tb_user_appnews
  </select>
</mapper>